<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Linguista.AI</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>


<body>


    <header>
        <%- include("./header.ejs") %>
    </header>


    <% characters.forEach(character =>{  %>

   

<a href="/practiceChat?character=<%=character._id%>"><div class="card">
    <img class="flag-picture" src="assets/languages/<%= character.language.toLowerCase() %>.png" alt="language"><br>
    <span><%= character.name %></span>

   
</div></a>

<% }) %>


<footer>
    <%- include("./footer.ejs") %>
</footer>


</body>


</html>