<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Linguista.AI</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>


<body>


    <header>
        <%- include("./header.ejs") %>
    </header>


<h1>LANGUAGES</h1>

<h2>Test the knowledge you've acquired to practice a language. Let's go!</h2>


    <% languages.forEach(language =>{  
        let perc = ((user.points[language] / maxPoints) * 100).toFixed(2); %>

   

<a href="/practiceCharacters?selectedLanguage=<%= language %>"><div class="card">
    <img class="flag-picture" src="assets/languages/<%= language.toLowerCase() %>.png" alt="language"><br>
    <span><%= language %></span>

    <div class="meter">
        <span  <% /* eslint-disable css-propertyvalueexpected */ %> style="width: <%= perc %>%"></span>
        <p><%=perc %>%</p>
      </div>
   
</div></a>

<% }) %>


<footer>
    <%- include("./footer.ejs") %>
</footer>


</body>


</html>